headerjdvvfvfjrfdvjvwfieffj :verticaldgsveecacdwwdwewufye  {  
background-color: #383D58;
color: white;jddgddeldvscccssccwemfeciefweif w
fgdfssuh x  cdd x  kxx xcwefdssvbfdisplay:flex;
}
.cabecalho-imagem{jhb c
    width: 20ksuedbc%;
}